.footer {
    height: 40px;
    width: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center; 
    align-items: center;  
    color: rgba(256,256,256,0.85);
    font-size: rem(16px)
}

@media (max-width: 600px) {
    .footer {
        font-size: rem(10px);
    }
}

@media (min-width: 700px) and (max-width: 1100px) {
    .footer {
        font-size: rem(13px);
    }
}