#convMulti{
    padding-top: rem(90px);
    height: rem(900px);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.103))#3a6486;
    
    .hidden {
        display: none;
    }

    form {
        min-height: rem(450px);

        label, .icon-down-circled {
            display: flex;
            justify-content: center; 
            align-items: center;
            margin: rem(6px) auto;
        }
    } 
    
    h2 {
        margin-top: rem(90px);
        margin-bottom: rem(70px);
        font-size: rem(50px);
        text-align: center;
        color: white;
    }

    input {
        width: rem(200px);
        height: rem(30px);
        margin-right: rem(8px);
        border-radius: rem(5px);
        text-align: center;
        font-size: rem(20px);
    }

    select {
        width: rem(200px);
        height: rem(30px);
        border-radius: rem(5px);
        font-size: rem(15px);
    }

    input, select {
        margin: rem(5px) rem(5px); 
    }

    .icon-minus-circled, .icon-plus-circled, .icon-down-circled {
        color: white;
        font-size: 30px;
    }

    .icon-down-circled {
        font-size: rem(50px);
        transform: rotate(270deg);
    }

    .convertToSelect {
        margin-top: rem(25px);
        width: rem(240px);
    }

    .calcResult {
        width: rem(350px);
        height: rem(170px);
        border: rem(12px) double rgb(187, 187, 187);
        margin: rem(78px) auto rem(178px) auto;
        border-radius: rem(5px);
        font-size: rem(42px);
        text-align: center;
        color: white;
        background: #1c2e48;
        overflow: auto;

        p {
            position: relative;
            top: 50%;
            transform: translateY(-50%); 
        }
    }
}

@media (max-width: 600px) {
    #convMulti {
        height: 100%;
        padding-bottom: rem(10px);

        * {
            display: flex;
            flex-direction: column;
        }
        
        form {
            min-height: rem(300px);
            margin-bottom: rem(15px);
        }

        h2 {
           font-size: rem(40px);
           margin-top: rem(80px);
           margin-bottom: rem(35px);
        }
        
        input {
            margin-bottom: rem(10px);
        }

        .icon-minus-circled, .icon-plus-circled {
            font-size: rem(35px);
            margin-bottom: rem(15px);
        }

        .icon-down-circled {
            transform: rotate(0deg);
        }

        .calcResult{
            margin-top: rem(10px);
            width: 80%;
        }
    }  
}

@media (min-width: 600px) and (max-width: 880px) {
    #convMulti {
        .calcResult {
            width: 70%;
        }
        form input,select {
            width: rem(140px);
        }
    }
}